*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    box-sizing: inherit;
}
.header{
    background-color: #5d8aa8;
    height: 24vh;
    width: 100%;
    position: fixed;
}
.header-nav{
    padding: 0 5% 5% 5%;
}
.header-nav-menus{
 font-size: 1.3em;
 font-family: 'overpass', sans-serif;
 display: grid;
 grid-template-columns: 15% 20% 12% 10% 10% 14% 12% 12%;
 justify-content: center;
 align-items: center;
}
.header-Icons-logo{
    height: 150px;
    width: 150px;
}
.header-nav-menus-list{
    list-style: none;
}
.header-nav-menus-list-links{
    text-decoration: none;
    color: #f8f8f8;
    text-transform: capitalize;
}
.nav-btns{
    border: .1em #f8f8f8 solid;
    border-radius: .4em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.041);
    padding: 8%;
}
.main{
    padding-top: 9.2em;
}
.intro-section{
    height: 100vh;
    background-image: linear-gradient(to right, #4998d0ad 5%, #436b95 30%), url(../Images/Icons-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
    align-items: center;
}
.container-div{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}
.container-div-para-1{
    color: #f8f8f8;
    margin-top: 2em;
    margin-left: -4.5em;
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'Overpass', sans-serif;
}
.container-div-para-1 > span{
    display: block;
}
.container-div-para-2{
    color: #f8f8f8;
    margin-top: 4em;
    margin-left: -6em;
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Overpass', sans-serif;
}
.container-div-para-2 > span{
    display: block;
    text-align: justify;
}
.order-btn{
 margin-top: 6em;
 margin-left: -50em;
}
.order-btn > a{
    display: block;
    background-color: transparent;
    width: 15vw;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.2em;
    font-family: 'Overpass', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 1.2%;
    border: .1em #f8f8f8d7 solid;
    border-radius: .4em;
}
/*story section*/
.story{
    margin-top: 4em;
    background-color: white;
    padding: 2% 5.4% 2% 5.4%;
}
.heading-secondary{
    border-left: .2em black solid;
    padding-left: 2%;
    margin-bottom: .8em;
    font-size: 4em;
    font-weight: 900;
    letter-spacing: .2em;
    font-family: 'Overpass', sans-serif;

}
.stories{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1.2em;
    row-gap: 1.2em;
}
.stories-content{
    display: grid;
    grid-template-columns: 25% 85%;
    padding: 4% 2% 4% 0;
    border-radius: .8em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.055);
}
.icon-bg{
    display: block;
    background-color: #436b95;
    margin-left: 1em;
    width: 60%;
    border-radius: 25em;
    padding: 20%;
}
.material-icons{
    font-size: 4em;
    color: azure;
}
/*correct left margin error*/
.correct-margin{
    margin-left: -1.6em;
}
.heading-tertiary{
    font-size: 1.6em;
    font-family:'Overpass', sans-serif;
    margin-bottom: .8em;
}
.stories-content-wording-span{
    display: block;
    padding: 0 4em 0 0;
}
/*Writers of the month*/
.writers{
    margin-top: 4em;
    background-color: white;
    padding: 2% 4.8% 2% 4%;
}
.writers-list{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: .4em;
    row-gap: .8em;
}
.witers-profile{
    font-family: 'overpass', sans-serif;
    border-radius: .8em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.103);
}
.profile{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 2%;
}
/*writers headshot*/
.profile-headshot{
    padding-left: 4%;
}
.img-style{
    width: 120px;
    height: 120px;
    border-radius: 10em;
}
/*profile*/
.writer-rating{
    display: block;
    font-size:1.5em;
    color: yellow;

}
.writer-rating > span{
    color: black;
    font-weight: 700;
}
.writer-designation{
    display: block;
    font-size: 1.5em;
    font-weight: 700;
}
.work-history{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4%;
    font-size: 1.1em;
    font-weight: 600;
}
/*writers reviews*/
.reviews{
    text-align: center;
    padding: 4%;
    font-size: 1.2em;
    font-weight: 600;
}
.fade-rev-txt{
    font-weight: 400;
}
.work-specialization{
    padding: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5em;
}
.field{
    flex: 1 0 21%;
    margin: 5px;
    height: 10vh;
    background-color: #c3c3c39f;
    text-align: center;
    padding: 4%;
    border-radius: .8em;
}
.connect{
    padding: 8%;
}
.connect > a{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: capitalize;
    text-align: start;
    border: .1em #436b95 solid;
    border-radius: .4em;
    padding: 4% 12% 4% 12%;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.061);
}
/*features section*/
.features{
    margin-top: 4em;
    background-color: white;
    padding: 2% 4.8% 2% 4%;
}
.features-div{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1.6em;
}
.guarantees{
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.123);
    border-radius: .8em;
    padding: 8%;  
}
.guarantees-services{
    display: grid;
    grid-template-columns: 40% 60%;
}
.guarantee-heading{
    margin-left: 40%;
}
.icons > span{
    display: block;
    width: 40%;
    background-color: #436b95;
    padding: 6%;
    margin-bottom: 63%;
    color: #f8f8f8;
    border-radius: 10em;
    text-align: center;
}
.icons > span:last-child{
    margin-bottom: 0;
}
.words > span{
    display: block;
    padding: 8% 8% 8% .8%;
    margin-bottom:33.9%;
    font-size: 1.6em;
    font-family: 'overpass', sans-serif;
}
.words > span :last-child{
    margin-bottom: 0;
}
.section-fields{
    padding: 4%;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.123);
    border-radius: .8em;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: .4em;
    row-gap: 1.2em;
    font-size: 1.5em;
    font-family: 'overpass', sans-serif;
}
.fields{
    border-bottom: .1em #436b95 solid;
}
.fields-icon-div{
    /* margin-left: 25%; */
    margin-bottom: 4%;
    /*padding: 2% 8% .8% 4%;*/
    background-color: #436b95;
    height: 22%;
    width: 19%;
    text-align: center;
    padding-top: 4%;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.123);
}
.fields-icon-div > span{
    color: #f8f8f8;
    
}
.field-name{
    padding: .8%;
}
/* Testimonials */
.testimonials{
    margin-top: 4em;
    background-color: white;
    padding: 2% 4.8% 2% 4%;
}
.testimonies{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.123);
    border-radius: .8em;
    padding-left: 4.5%;
}
.scroller{
    margin-top: 90%;
    background-color: rgb(88, 193, 235);
    width: 54%;
    height: 32%;
    padding: 20% 4% 8% 4%;
    color: #f8f8f8;
    border-radius: .8em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.123);
}
.right-style > span{
    margin-left: 32%;
    width:30%;
}
.left-style > span{
    margin-left: 12%;

}
.rev-text{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
/* quotations */
.q-left{
    border-right: .2em rgb(88, 193, 235) solid;
    width: 40%;
    color: rgb(88, 193, 235);
    padding-top: 60%;
}
.q-right{
    border-left: .2em rgb(88, 193, 235) solid;
    width: 40%;
    color: rgb(88, 193, 235);
    padding-left:16%;
    padding-top: 60%;
    margin-left: 40%;
}
.rev-text-area{
    /* background-color: orangered; */
    margin-left: -3.7em;
    padding: 4%;
    font-family: 'overpass', sans-serif;
    font-size: 2em;
}
.client-details{
    padding-left: 30%;
    margin-top: 4%;
    font-size: 1.5em;
    font-family: 'overpass', sans-serif;
}
.client-details > span{
    display: block;
    margin-bottom: 2%;
}
/* Footer section */
.footer{
    background-color: #436b95 ;
    margin-top: 4em;
    padding: 2% 4.8% 2% 4%;
    font-family: 'overpass', sans-serif;
    font-size: 1em;
}
.footer-sections{
    display: grid;
    grid-template-rows: auto;
    row-gap: 2em;
}
.section-1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* column-gap: 1.2em; */
}
.style-positioning{
    padding-top: 16%;
}
.contacts > span{
    display: block;
    padding-bottom: 8%;
    color: #f8f8f8;
}
.contacts > span > a{
    text-decoration: none;
    color:#f8f8f8;
}
.style-positioning > span{
    display: block;
    color: #f8f8f8;
    padding: 2%;
}
.img-position{
    margin-left: -2em;
}
.footer-heading-color{
    color: #f8f8f8;
    font-size: 1em;
}
.section-2{
    text-align: center;
    color: #f8f8f8;
    font-size: .6em;
    font-weight: 400;
}
/*Login section*/
.bg-color{
    background: linear-gradient(to right, #4998d0ad 5%, #436b95 30%);
}
.section-login{
    height: 70vh;
    font-family: 'overpass', sans-serif;
    font-size: 1.6em;
    padding: 4% 16% 20% 16%;
}
.section-div{
    padding: 4% 0 8% 0;
    width: 80%;
    margin-left: 4em;
    margin-bottom: 10em;
    border: .1em #f8f8f817 solid;
    border-radius: .4em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.048);
}
.section-div > p{
    color: #f8f8f8;
    margin-left: 12.2em;
    font-weight: 600;
    padding-bottom: 1.6%;
}
.login-logo{
    display: block;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.007);
    margin-left: 11em;
}
.login-container{
    display: grid;
    grid-template-rows: auto;
    row-gap: 1em;
    color: #f8f8f8;
}
.login-container > div{
    padding: .4%;
    text-align: center;
    border: .1em #f8f8f821 solid;
    border-radius: .4em;
    width: 50%;
    margin-left: 8em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.034);
}
.logo-container{
    text-align: center;

}
.login-btn{
    cursor: pointer;
}
/*styling login page*/
.login-div{
    width: 55%;
    margin-left: 24.8%;
    padding-bottom: 2%;
    border: .1em #f8f8f817 solid;
    border-radius: .4em;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.055);
}
.logo-login{
    padding-left: 28.4%;
    margin-top: -.4em;
}
.login-div-container{
    margin-top: -2em;
    padding-top: 4%;
    padding-bottom: 4%;
}
.login-text-div{
    padding: 4% 0 8% 0;
    text-align: center;
    font-weight: 800;
    color: #f8f8f8;
}
.input-div{
    margin-bottom: 4%;
    padding-left: 15%;
}
.login-label{
    font-weight: 600;
    color: #f8f8f8;
    font-size: .8em;
}
.login-input{
    display: block;
    width: 80%;
    height: 7.5vh;
    outline: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    font-size: .9em;
    font-family: 'overpass', sans-serif;
    font-weight: 700;
    background-color: #f8f8f85d;
    border-radius: .4em;
    transition: all 1s ease-in-out;
}
.login-input:focus{
    border-bottom: .2em #f8f8f8 solid;
}
.submit-btn-div{
    margin-bottom: 4%;
    padding-left: 15%;
    margin-bottom: 6%;
}
.submit-btn{
    width: 80%;
    height: 7.5vh;
    font-weight: 800;
    color: #f8f8f8;
    font-size: .6em;
    background: #f8f8f85d;
    border-radius: .4em;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
}
.submit-btn:focus{
    animation: moveUp .5s ease-in-out;
}
.options{
    color: #f8f8f8;
    font-size: .7em;
    text-align: center;
    margin-bottom: 4%;
    cursor: pointer;
}
/*Animations*/
@keyframes moveUp {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(.4);
    }
    100%{
        transform: scale(0);
    }
}
/*contact page*/
.contacts{
    padding: 4% 20% 10% 12%;
    font-family: 'overpass', sans-serif;
}
.contacts-handle{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 4em;
}
.handles-divs{
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.055);
    border-radius: .8em;
    padding: 8%;
}
.divisions{
    padding: 8%;
}
.divisions > span{
    color: #436b95;
}
.para{
    font-size: 1.6em;
}
.para > a{
    text-decoration: none;
    color: black;
}
.other{
    background-color: rgba(194, 197, 197, 0.123);
    margin-bottom: -4em;
    padding: 8%;
    font-family: 'overpass', sans-serif;
}
.other-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
.other-para{
    font-size: 1.3em;
    margin-bottom: 4%;
}
.order-container{
    padding: 2% 2% 2% 0;

}
.order{
    display: block;
    background-color: #5d8aa8;
    width: 30%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    /* font-size: 1.6em; */
    color: #f8f8f8;
    border: .1em #f8f8f8 solid;
    border-radius: .4em;
}
.image-container > img {
    display: block;
    height: 280px;
    width: 280px;
    border-radius: 10em;
}
.select-position{
    display: block;
    width: 80%;
    height: 7.5vh;
    outline: none;
    border: none;
    background: #f8f8f85d;
    border-radius: .4em;
    padding-left: 2%;
    padding-right: 2%;
    font-size: .8em;
}
/*
Error label
*/
.error-Label{
    color: yellow;
    font-size: .8em;
    padding-left: 15%;
}
/*Style the TC section*/
.style_htm_var{
    text-decoration: none;
    color: rgb(3, 3, 93);
    font-weight: 900;
}
.chbk-label{
    font-size: .6em;
    font-weight: 700;
    margin-left: 4%;
}
.position-chbk{
    color: #f8f8f8;
    position: relative;
}
.chbk-input{
    display: block;
    position: absolute;
    top: 36%;
}
/* Section : page- headings */
.page-headings{
    padding: 4% 20% 10% 12%;
    font-family: 'overpass', sans-serif;
}
/* Section: Legend */
.legend{
    margin-top: -4em;
    padding: .8% 20% 10% 12%;
    font-family: 'overpass', sans-serif;
}
.legends-div{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
/* Section: price-table */
.price-table{
    padding: 4% 20% 10% 12%;
    font-family: 'overpass', sans-serif;
}
.icons{
    color: teal;
    padding-right: 8%;
}
.text{
    display: inline-block;
    /* background-color: pink; */
    font-size: 1.8em;
    
}
.price-table{
    margin-top: -8em;
}
table{
    width: 100%;
    /* box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.15); */
    border-collapse: collapse;
    
}
.thead{
    background-color: #436b95;
    text-align: center;
    padding: 2.8% 0;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.055);
    border-radius: .8em;
    
}
.theading{
    display: table-cell;
    width: 16.67%;
    color: #f8f8f8;
    font-size: 1.2em;
    text-align: center;
    box-sizing: border-box;
    padding: .8em 1.2em;
}
.theading:last-child{

}